{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if subject %}
        {% blocktrans with subject_title=subject.title %}
            {{ subject_title }} courses
        {% endblocktrans %}
    {% else %}
        {% trans "All courses" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if subject %}
            {% blocktrans with subject_title=subject.title %}
                {{ subject_title }} courses
            {% endblocktrans %}
        {% else %}
            {% trans "All courses" %}
        {% endif %}
    </h1>
    <div class="contents">
        <h3>{% trans "Subjects" %}</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected"{% endif %}>
                <a href="{% url "course_list" %}">
                    {% trans "All" %}
                </a>
            </li>
            {% for s in subjects %}
                <li {% if subject == s %}class="selected"{% endif %}>
                    <a href="{% url "courses:list_subject" s.slug %}">
                        {{ s.title }}
                        <br>
                        <span>{{ s.total_courses }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for course in courses %}
            {% with subject=course.subject %}
                <h3>
                    <a href="{% url "courses:detail" course.slug %}">
                        {{ course.title }}
                    </a>
                </h3>
                <p>
                    <a href="{% url "courses:list_subject" subject.slug %}">
                        {{ subject }}
                    </a>
                    {% blocktrans with total_modules=course.total_modules owner_name=course.owner.get_full_name %}
                        {{ total_modules }} modules.
                        Instructor: {{ owner_name }}
                    {% endblocktrans %}
                </p>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
